/* All */
/* * {
      transition: all 0.1s ease;
}
 */
body {
    background-color: #ffffff;
}

/* Main container */
.container {
    @include media-query($on-palm) {
        padding: 0;
    }
}

/* Post layout container */
.page-container {
max-width:900px;
    @include media-query($on-palm) {
        padding: 10px;
    }
}

.partition {
    background-color: #fff;
    box-shadow: 0 0 4px #ddd;
	//font-size: 2px;
//@include media-query($on-palm) {
        //font-size: 5px;
    //}
}
.myide
{
font-size:200px;
@include media-query($on-palm) {
        font-size: 10px;
    }
}
.MathJax
{
//background-color: #FFFF88;
  //  color:   #CC0000;
    //border:  1px solid #CC0000;
    //padding: 1px 3px;
    //font-family: serif;
    //font-style: normal;
    font-size:  10000px;
	//line-height:0%;
}
code.has-jax {font: inherit; font-size: 1000px; background: inherit; border: inherit;}
/* Images */
img {
    max-width: 100%;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $brand-color;
    border-radius: 3px;
    background-color: transparent;
}

code {
    padding: 1px 5px;
    
}

pre {
    counter-reset: line-numbering;
    border: none;
    border-radius: 0;
    background: #fff;
    padding: 0;
    line-height: 23px;
    margin-bottom: 30px;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
}

pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em; /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  color: #aaa;
  background: #eee;
  margin-right: 16px;
  padding: 2px 10px;
  font-size: 13px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre a:first-of-type::before {
  padding-top: 10px;
}

pre a:last-of-type::before {
  padding-bottom: 10px;
}

pre a:only-of-type::before {
  padding: 10px;
}



/* Main header */
.header {
  background: #ffffff;
  background-repeat: repeat;
  background-position: center center;
  min-height: 10px;
  position: relative;
  @include media-query($on-palm) {
      min-height: 15px;
    }
 }

/* Main title */
.headline {
 // text-align: left;
  font-weight: 600;
  font-size: 30px;
  //vertical-align: bottom;
  //height: 30px;
  line-height: 40px;
  //line-height: 2vh;
  color: #000000;
  //text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0, 0, 0, 0.34);
  @include media-query($on-palm) {
    font-size: 20px;
    //  line-height: 25px;
    }
}

/* Navigation bar */
.nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.link {
    float: left;
    margin: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
   
}

.link a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}


//.link a:hover, .dropdown:hover .dropbtn {
  //  background-color: rgba(123, 123, 123, 0.36);
//    color: #fff;
//}

.link .dropdown {
    display: inline-block;

}
.dropdown
{
text-align: right;
}
.dropdown-content {
    display: none;
    //position: absolute;
    background-color: #000;
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;

}

.dropdown-content a {
    color: #eee;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #111; color: #fff}

//.dropdown:hover .dropdown-content {
  //  display: block;
//}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/* Navigation bar end */
//table {
  //  width: 100%;
//
//table {
    //border-collapse: collapse;
//}

/* remove padding */
/*td {
     padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 1px;
    padding-left: 80px;
}*/

th, tr, td {
	border-bottom: none;
	//vertical-align: top;
}

th {
    //height: 50px;
	 //text-align: center;
	 border-left: 1px solid black;
	  padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
	 //padding: 0;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    //left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
	text-align: center;
	right: 0;
	
	@include media-query($on-palm) 
	{
		right: 0;
		transition: 0.5s;
	}
}

/* The navigation menu links */
.sidenav a {
    //padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    //position: absolute;
    top: 0;
    //right: 25px;
    font-size: 36px;
    //margin-left: 50px;
	text-align: right;
	cursor:pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}






/* News blocks */
.news-piece{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  opacity:1;
  filter: grayscale(0%);
  transition:filter .2s linear;
	//-webkit-transition: background-color 2s ease-out;
		//-moz-transition: background-color 2s ease-out;
		//-o-transition: background-color 2s ease-out;
		//transition: background-color 2s ease-out;
    &:hover{
        //-webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
        filter: grayscale(40%);
		//opacity:0.5;
		//filter:grayscale(70%);
    }
}
.news-piece-1 {
height: 50vh;
    //height: 350px;
    
}
.news-piece-2 {
   //height: 265px;
height: 43vh;
}


.news-title {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 2px 10px;
    font-weight: 600;
}

.news-exp {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    line-height: 1.6;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 2px 10px;
}

.news-piece:hover .news-exp {
    display: block;
}

/* News blocks end */

/* Adjust columns */
@media (min-width: 550px) {
.eight.columns.news-piece{
    width: 50.0%;
    
}

.four.columns.news-piece {
    margin-left: 0;
    width: 33.33333%;
}

.fourfour.columns.news-piece 
{
    margin-left: 0;
    width: 50.0%;
}

.fourfourfour.columns.news-piece 
{
    margin-left: 0;
    width: 50.0%;
	height: 50.0%;
}

}
.first-row {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}
.row-border {
    border-bottom: 2px solid transparent;
}



.quote {
    height: 200px;
    text-align: center;
    vertical-align:middle;
    @include media-query($on-palm) {
        padding: 0 10px;
    }
}

.quote-day {
    quotes : "\"" "\"" "'" "'";
    font-family: $base-font-family;
    font-size: 230%;
    margin: 50px auto 0 auto;
    @include media-query($on-palm) {
            font-size: 130%;
    }
    &:before {
      content: open-quote;  

    }
    &:after{
        content: close-quote;

    }
}
.quote-by {
    text-align: right;
}


.bg {
    box-shadow: 0 0 4px #ddd;
    //background: #fbff0b; /* fallback for old browsers */
	background: #000000; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to left, #fbff0b , #DD2476); /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to left, #fbff0b , #DD2476); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.border {
    border-right: 2px solid transparent;
    @include media-query($on-palm) {
        border-right: none;
    }
}
.four.border {
    border-right: 2px solid #000000;
        @include media-query($on-palm) {
        border-right: none;
    }
}
.border-2 {
        border-right: 2px solid #000000;
        @include media-query($on-palm) {
        border-right: none;
    }
}
.oldsix.columns 
{
	  height: 25vh;//175px;
      width: 25%;
    @include media-query($on-palm) {
        width: 50%;
    }
}

.six.columns 
{
      width: 50%;
    @include media-query($on-palm) {
        width: 100%;
    }
}

/* Header Image on posts */
.page-image {
    height: 50px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 1em;
    @include media-query($on-palm) {
       height: 200px;
    }
}


/* Post and page title */
.page-title {
    font-weight: 600;
	text-align:center;
}


/* Footer*/
footer {
    background-color: black;
    color: #fff;
    text-align: center;

}
/* Add class="video" to video embeds */
.video {
    width: 100%;
    height: 360px;
    @include media-query($on-palm) {
        height: 250px;
    }
}

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .ch { color: #008000 } /* Comment.Hashbang */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .cpf { color: #008000 } /* Comment.PreprocFile */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sa { color: #a31515 } /* Literal.String.Affix */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .dl { color: #a31515 } /* Literal.String.Delimiter */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;} 
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */